html {
    height: 100%;
    overflow-x: hidden;
    background-color: #121212;
}

#menu {
    z-index: 1;
    margin-top: 0%;
    top: 0%;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14pt;
    max-height: 20%;
    display: block;
    position: fixed;
    width: 100%;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu ul {
    display: inline-block;
}

#menu li {
    vertical-align: middle;
    display: inline-block;
    list-style: none;
    margin: 25px;
}

#search {
    font-size: 10pt;
    color: white;
    background-color: #3D3D3D;
    border-radius: 7px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    max-width: 200px;
}

#search-txt {
    outline: transparent;
    color: white;
    padding-left: 5%;
    max-width: 160px;
    border: none;
    background-color: transparent;
}

#search-lupa {
    padding: 3%;
    display: block;
}

#submit-search {
    background-color: #121212;
    color: white;
    border-radius: 0px 7px 7px 0px;
    border: none;
    outline: transparent;
}

#submit-search:hover {
    background-color: red;
    transition: all 0.5s;
}

#menu img {
    vertical-align: middle;
    display: inline-block;
    max-width: 15%;
}

#menu a:hover {
    color: red;
    transition: all 0.5s;
}

#Lançamento {
    margin-top: 5%;
    height: auto;
    color: white;
    background: rgb(18, 18, 18);
    background: radial-gradient(circle, rgba(18, 18, 18, 1) 0%, rgba(9, 8, 8, 1) 50%, rgba(0, 0, 0, 1) 100%);
    display: block;
}

#Lançamento #Lançamento-Title {
    margin: auto;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

#Lançamento h1 {
    font-size: 16pt;
    margin: auto;
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
}

#Slider iframe {
    display: inline-block;
    width: 550px;
    height: 310px;
    margin-bottom: 6%;
    margin-left: 12%;
    margin-right: auto;
}

.aside-text {
    max-width: 40%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
}

.aside-text p {
    font-weight: lighter;
}

#Destaques {
    background-color: #171717;
    width: 100%;
    color: white;
    display: block;
    padding: 2%;
}

#Destaques #title-destaques {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#Destaques li {
    background-color: #121212;
    display: inline-block;
    color: white;
    margin-left: 20px;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
}

#Destaques h1 {
    display: inline-block;
    font-size: 16pt;
    margin-left: 46%;
    margin-right: auto;
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
}

#div-destaques {
    padding-top: 2%;
}

#MaisSeries {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 30px;
    padding-top: 0%;
}

#MaisSeries>.card {
    margin-bottom: 30px;
}

.card.Comédia {
    display: initial;
}

.card.Adventure {
    display: initial;
}

.card.Romance {
    display: initial;
}

#Cards {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    max-width: 90%;
    max-height: 690px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#Cards>div.card {
    margin-bottom: 20px;
}

#Avaliações {
    background-color: #3D3D3D;
    color: white;
    padding-bottom: 1%;
    height: 100%;
}

#Avaliações h1 {
    padding-top: 2%;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 16pt;
    color: white;
}

#Avaliações img {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    border-radius: 50%;
}

#Avaliações input {
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    color: white;
    list-style: none;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#comentarios {
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    max-height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment {
    box-sizing: border-box;
    -webkit-box-shadow: 13px 14px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 14px 20px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 14px 20px -6px rgba(0, 0, 0, 0.75);
    border-radius: 5%;
    padding: 1%;
    display: inline-block;
    background-color: #171717;
    height: 400px;
    max-height: 60%;
    max-width: 25%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.comment h2 {
    margin-top: 5%;
    font-size: 16pt;
    padding: 3%;
}

.comment p {
    padding-left: 3%;
    font-size: 12pt;
}

#Entrevistas {
    background-color: #171717;
    color: white;
}

#Entrevistas h1 {
    padding: 3%;
    display: block;
    text-align: center;
    font-size: 16pt;
}

#CarroselEntrevistas {
    display: block;
    padding-left: 6.5%;
    padding-right: 5%;
}

.content-entrev {
    display: inline-block;
    padding-right: 1%;
    padding-left: 1%;
}

.content-entrev {
    margin-bottom: 5%;
    width: 330px;
    box-sizing: border-box;
    white-space: normal
}

.content-entrev h3 {
    margin-top: 5%;
    font-weight: bold;
    font-size: 12pt;
}

#container-grid {
    color: white;
    padding: 5%;
    background-color: #121212;
    display: grid;
    grid-gap: 30px;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: repeat(3, 200px);
}

#container-grid>h2 {
    display: block;
    width: 100%;
}

#Novidades {
    display: inline-block;
    white-space: normal;
    box-sizing: border-box;
    max-height: max-content;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

#conteudo-rep {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#conteudo-rep .rep {
    box-sizing: border-box;
    white-space: normal;
    max-height: 195px;
    max-width: 100%;
    width: 100%;
    height: 195px;
    background-color: #121212;
    -webkit-box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.75);
}
.rep{
    max-width: 100%;
    white-space: normal;
    word-wrap: normal;
    box-sizing: border-box;
    max-height: 195px;
}
.rep-text h3{
    font-size: 14pt;
}
.rep-text{
    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: top;
    width: 50%;
    display: inline-block;
}
.rep img{
    vertical-align: top;
    display: inline-block;
    max-height: 100%;
    margin-right: 2%;
}
#rep2{
    margin-top:10px;
    margin-bottom:10px;
}
.rep a {
    color: red;
}

#Sobre {
    white-space: normal;
    box-sizing: border-box;
    max-width: max-content;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#rep1:hover h3{
    color: red;
    transition: all 0.5s;
}
#rep2:hover h3{
    color: red;
    transition: all 0.5s;
}
#rep3:hover h3{
    color: red;
    transition: all 0.5s;
}

#Sobre>p {
    padding: 5%;
}

#Editorial {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#txt-edit{
    display: inline-block;
    max-width: 50%;
}
#social{
    vertical-align: top;
    margin-left: 10%;
    max-width: 50%;
    display: inline-block;
}
#redes-imagens{
    display: inline-block;
}
#redes-imagens img{
    max-width: 20%;
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    height: auto;
    width: 100%;
    background-color: black;
    text-align: center;
    display: block;
    position: absolute;
    color: white;
    font-size: 8pt;
}

footer p {
    display: block;
    padding-bottom: 20px;
    text-align: center;
}