html {
    height: 100%;
    overflow-x: hidden;
    background-color: #121212;
}

#menu {
    z-index: 1;
    margin-top: 0%;
    top: 0%;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14pt;
    max-height: 20%;
    display: block;
    position: fixed;
    width: 100%;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu ul {
    vertical-align: middle;
    display: inline-block;
}

#menu li {
    display: inline-block;
    list-style: none;
    margin: 25px;
}

#menu img {
    vertical-align: middle;
    display: inline-block;
    max-width: 15%;
}

#menu a:hover {
    color: red;
    transition: 1s;
}

#Lançamento {
    margin-top: 5%;
    height: auto;
    color: white;
    background: rgb(18, 18, 18);
    background: radial-gradient(circle, rgba(18, 18, 18, 1) 0%, rgba(9, 8, 8, 1) 50%, rgba(0, 0, 0, 1) 100%);
    display: block;
}

#Lançamento #Lançamento-Title {
    margin: auto;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

#Lançamento h1 {
    font-size: 16pt;
    margin: auto;
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
}

#Slider iframe {
    display: inline-block;
    width: 550px;
    height: 310px;
    margin-bottom: 6%;
    margin-left: 12%;
    margin-right: auto;
}

.aside-text {
    max-width: 40%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
}

.aside-text p {
    font-weight: lighter;
}

#Destaques {
    background-color: #171717;
    width: 100%;
    color: white;
    display: block;
    padding: 2%;
}

#Destaques #title-destaques {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#Destaques li {
    background-color: #121212;
    display: inline-block;
    color: white;
    margin-left: 20px;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
}

#Destaques h1 {
    display: inline-block;
    font-size: 16pt;
    margin-left: 46%;
    margin-right: auto;
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
}

#div-destaques {
    padding-top: 2%;
}

#MaisSeries {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 30px;
    padding-top: 0%;
}

#MaisSeries>.card {
    margin-bottom: 30px;
}

.card.Comédia {
    display: initial;
}

.card.Adventure {
    display: initial;
}

.card.Romance {
    display: initial;
}

#Cards {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    max-width: 90%;
    max-height: 690px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#Cards>div.card {
    margin-bottom: 20px;
}

#Avaliações {
    background-color: #3D3D3D;
    color: white;
    padding-bottom: 1%;
    height: 100%;
}

#Avaliações h1 {
    padding-top: 2%;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 16pt;
    color: white;
}

#Avaliações img {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    border-radius: 50%;
}

#Avaliações input{
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    color: white; 
    list-style: none; 
    background-color: red; 
    border: none; 
    border-radius: 5px; 
    padding: 10px; 
    margin-left: auto; 
    margin-right: auto;
}

#comentarios {
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    max-height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment {
    box-sizing: border-box;
    -webkit-box-shadow: 13px 14px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 14px 20px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 14px 20px -6px rgba(0, 0, 0, 0.75);
    border-radius: 5%;
    padding: 1%;
    display: inline-block;
    background-color: #171717;
    height: 400px;
    max-height: 60%;
    max-width: 25%;
    margin-left: 2%;
    margin-bottom: 2%;
}
.comment h2{
    margin-top: 5%;
    font-size: 16pt;
    padding: 3%;
}
.comment p{
    padding-left: 3%;
    font-size: 12pt;
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    height: auto;
    width: 100%;
    background-color: black;
    text-align: center;
    display: block;
    position: absolute;
    color: white;
    font-size: 8pt;
}

footer p {
    display: block;
    padding-bottom: 20px;
    text-align: center;
}