html {
    height: 100%;
    overflow-x: hidden;
    background-color: #121212;
}

#menu {
    z-index: 1;
    margin-top: 0%;
    top: 0%;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14pt;
    max-height: 20%;
    display: block;
    position: fixed;
    width: 100%;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu ul {
    vertical-align: middle;
    display: inline-block;
}

#menu li {
    display: inline-block;
    list-style: none;
    margin: 25px;
}

#menu img {
    vertical-align: middle;
    display: inline-block;
    max-width: 15%;
}

#menu a:hover {
    color: red;
    transition: 1s;
}

#Lançamento {
    margin-top: 5%;
    height: auto;
    color: white;
    background: rgb(18,18,18);
    background: radial-gradient(circle, rgba(18,18,18,1) 0%, rgba(9,8,8,1) 50%, rgba(0,0,0,1) 100%);
    display: block;
}
#Lançamento #Lançamento-Title {
    margin: auto;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

#Lançamento h1 {
    font-size: 16pt;
    margin: auto;
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
}

#Slider iframe{
    display: inline-block;
    width: 550px;
    height: 310px;
    margin-bottom: 6%;
    margin-left: 12%;
    margin-right: auto;
}

.aside-text{
    max-width: 40%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
}
.aside-text p{
    font-weight: lighter;
}

#Destaques{
   
    background-color: #171717;
    width: 100%;
    color: white;
    display: block;
    padding: 2%;
}
#Destaques #title-destaques{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#Destaques li{
    background-color: #121212;
    display: inline-block;
    color: white;
    margin-left: 20px;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
}
#Destaques h1{
    display: inline-block;
    font-size: 16pt;
    margin-left: 46%;
    margin-right: auto;
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
}
#div-destaques{
    padding-top: 2%;
}
#MaisSeries{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 30px;
    padding-top: 0%;
}
#MaisSeries > .card{
    margin-bottom: 30px;
}
.card.Comédia {
    display: initial;
}
.card.Adventure {
    display: initial;
}
.card.Romance {
    display: initial;
}
#Cards{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    max-width: 90%;
    max-height: 690px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
#Cards > div.card{
    margin-bottom: 20px;
}
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    height: auto;
    width: 100%;
    background-color: black;
    text-align: center;
    display: block;
    color: white;
    font-size: 8pt;
}

footer p {
    display: block;
    padding-bottom: 20px;
    text-align: center;
}